{% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}

{% for message in app.flashes('fail') %}
    <div class="alert alert-warning" role="alert">{{ message }}</div>
{% endfor %}