{% extends 'base-admin.html.twig' %}

{% block title %}Edit User{% endblock %}
{% block h1 %}Edit User{% endblock %}
{% block entity %}Administrateurs{% endblock %}

{% block body %}
	{{ include('users/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('users_index') }}">back to list</a>
	<a href="{{ path('users_change_password', {id: user.id}) }}" class="btn btn-warning" >Changer de mot de passe ?</a>
	{{ include('users/_delete_form.html.twig') }}
{% endblock %}
